<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.aeso.medicinealert"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.aeso.medicinealert.activity.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.aeso.medicinealert.activity.CadastraRemedioActivity"
            android:label="@string/title_activity_cadastra_remedio" >
        </activity>
        <activity
            android:name="br.com.aeso.medicinealert.activity.ConsultaHorariosRemediosActivity"
            android:label="@string/title_activity_consulta_horarios_remedios" >
        </activity>
        <activity
            android:name="br.com.aeso.medicinealert.activity.DtTimeActivity"
            android:label="@string/title_activity_dt_time" >
        </activity>
        <activity
            android:name="br.com.aeso.medicinealert.activity.DataActivity"
            android:label="@string/title_activity_data"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="br.com.aeso.medicinealert.activity.HoraActivity"
            android:label="@string/title_activity_hora" 
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>
